{{ ansible_managed | comment }}

- paths:
    {{ item.paths | to_nice_yaml | indent(4) }}
  fields:
{% if item.fields is not defined or item.fields.type is not defined %}
    type: {{ item.name }}
{% endif %}
{% if item.fields is not defined or item.fields.tags is not defined %}
    tags: ["common_format"]
{% endif %}
{% if item.fields is defined %}
{% for k, v in item.fields.items() %}
    {{ k }}: {{ v | to_json }}
{% endfor %}
{% endif %}
  fields_under_root: {{ item.files_under_root | default(true) }}
  ignore_older: {{ item.ignore_older | default('30m') }}
{% if item.multiline is defined and item.multiline %}
  multiline.pattern: '^\['
  multiline.negate: true
  multiline.match: after
{% endif %}
