{{ ansible_managed | comment }}

filebeat.config.prospectors:
  enable: true
  path: {{ _filebeat_config.config_dir }}/conf.d/*.yml
filebeat.config.modules:
  reload.enabled: "false"
  path: {{ _filebeat_config.config_dir }}/modules.d/*.yml
name: {{ ansible_fqdn }}
fields_under_root: {{ _filebeat_config.filebeat.fields_under_root }}
fields:
  host: {{ ansible_fqdn }}
  host_ip: {{ ansible_default_ipv4.address }}
{% if _filebeat_config.filebeat.output.logstash.hosts is defined and _filebeat_config.filebeat.output.logstash.hosts|length > 0 %}
output.logstash:
  hosts: {{ _filebeat_config.filebeat.output.logstash.hosts | to_yaml }}
  ssl.enabled: {{ _filebeat_config.filebeat.ssl.enabled }}
  ssl.certificate_authorities:
    {{ _filebeat_config.filebeat.ssl.certificate_authorities | map(attribute="path") | list | to_nice_yaml | indent(4) }}
{% endif %}
{% if _filebeat_config.filebeat.output.kafka.hosts is defined and _filebeat_config.filebeat.output.kafka.hosts|length > 0%}
output.kafka:
  hosts: {{ _filebeat_config.filebeat.output.kafka.hosts | to_yaml }}
  topic: {{ _filebeat_config.filebeat.output.kafka.topic }}
{% endif %}

seccomp:
  enabled: {{ _filebeat_config.filebeat.seccomp.enabled }}
logging:
  metrics:
    enabled: {{ _filebeat_config.filebeat.logging.metrics.enabled }}
